.section {
  background-color: #faf4ea; 
  padding: 20px 30px;

}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1a1a1a;
  font-family: "Playfair Display", serif;
}

.heading span {
  color: #ff7a00;
}

.desc {
  font-size: 1rem;
  line-height: 1.8;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
  font-family: "Poppins", sans-serif;
}

.cta {
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 28px;
  background-color: #b71c1c;
  border: none;
}

.cta:hover {
  background-color: #9e1515;
  color: #fff;
}

.image {
  border-radius: 10px;
  object-fit: cover;
}
