.section {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
}

.content {
  text-align: left;
}

.highlightText {
  color: #d11a2a;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.title {
  color: #000;
   font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3;
    font-family: "Playfair Display", serif;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1a1a1a;
  font-family: "Playfair Display", serif;
}

.heading span {
  color: #ff7a00;
}

.desc {
  font-size: 1rem;
  line-height: 1.8;
  color: #444;
  font-family: "Poppins", sans-serif;
}



.imageWrapper {
  position: relative;
  display: inline-block;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  padding: 1rem 1.5rem;
  border-radius: 12px 12px 0 0;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .title {
    font-size: 1.6rem;
  }

  .caption {
    width: 90%;
    font-size: 0.9rem;
  }
}
